<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="ru.mobilap.adcolony">

  <application android:hardwareAccelerated="true">
    <!--
    Plugin metadata:
    - In the `android:name` attribute, the `org.godotengine.plugin.v1` prefix
    is required so Godot can recognize the project as a valid Godot
    Android plugin. The plugin name following the prefix should match the value
    of the plugin name returned by the plugin initializer.
    - The `android:value` attribute should be the classpath to the plugin
    initializer.
    -->
    <meta-data
        android:name="org.godotengine.plugin.v1.AdColony"
        android:value="ru.mobilap.adcolony.AdColony" />

    <activity android:name="com.adcolony.sdk.AdColonyInterstitialActivity"
              android:configChanges="keyboardHidden|orientation|screenSize"
              android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
              android:hardwareAccelerated="true"/>
    <activity android:name="com.adcolony.sdk.AdColonyAdViewActivity"
              android:configChanges="keyboardHidden|orientation|screenSize"
              android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
              android:hardwareAccelerated="true"/>

  </application>
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.VIBRATE" />
</manifest>
